<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>quienes somos</title>
</head>
<body>
    {% extends 'inicio.html' %}

{% block content %}
    <section>
        <h2>Quiénes Somos</h2>
        <p>Somos una empresa que nacio para crear innovaciones impulsadas por el ser humano
             que desafienlas barreras para crear un mundo mejor para todos.
        </p>
        <h3>Nuestra misión y nuestro enfoque</h3>
        <p>
            Samsung sigue una filosofia empresarial simple:dedicar su talento y tecnologia a crear productos y servicios superiores 
            que contribuyan a una mejor sociedad global. Para lograrlo, establece un alto valor en sus personas y tecnologias.
        </p>
    </section>
{% endblock %}
</body>
</html>